@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0%;
  margin: 0%;
  border: border-box;
  font-family: 'Inter', sans-serif;


}

body{
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #feeeca 0%,
    #feeeca 50%,
    #F7B5CA 50%,
    #F7B5CA 100%
  )
}


.navbar{
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.borderNav{
  border-bottom: 2px solid transparent;
}

.borderNav:hover{
  border-bottom: 2px solid white;
}

.amazonLogo{
  font-size: 32px;
  color: white;
  font-weight: 500;
}

.searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}
.searchInput{
  padding: 5px;
  width: 80%;
}

.searchButton{
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
  width: 34px;
  height: 34px;
}

.searchSelect{
  padding: 5px;
  width: 50px;
  height: 34px;
  color: black;
  background-color: #f7f0f0;
  font-size: small;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 6%;
  color: white;
}

.cartIcon{
  color: white;
  width: 34px;
  height: 34px;
}
.nav-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.from{
  color: rgb(224, 217, 217);
  font-size: 12px;
}

.address-icon {
  display: flex;
  flex-direction: row;
}

.panel-container{
  display: flex;
  flex-direction: row;
  height: 40px;
  color: white;
  background-color: #222f3d;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.85rem;


}
.sidebar{
  display:flex;
  flex-direction: row;
  width: 60px;
  align-items: center;
  font-size: small;
  font-weight: 700;
}
.menu-icon{
  margin-right: 5px;
}
.panel-items{
  width: 70%;
}

.items{
  margin-left: 15px;
  font-weight: 700;
}

/* hero section  */
.hero-section {
  background-image: url('/assets/images/hero_image.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 22%;
  margin: 10px;
  margin-top: 200px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.items_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.items-details img {
  width: 150px; /* Adjust as needed */
  height: auto;
  /* margin: 10px; */
  border-radius: 10px;
}

.hero_items{
  margin-top: 150px;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  margin-bottom: 50px;
}

.sales{

  font-size: x-large;
  font-weight: 500;
  margin-left: 50px;
  margin-bottom: 30px;
}

.bt_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3c4a5c;
  color: white;
  padding: 15PX;
  font-size: small;
  font-weight: 700;
}


.footer{
  display: flex;
  flex-direction: row;
  background-color: #232f3e;
  justify-content: space-around;
  color: rgb(214, 202, 202);
  font-size: small;

}

.head-footer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.head-p{
  font-size: 18px;
  font-weight: 700;
  color: white;
}